.background {
    width: 100%;
    height: 100%;
    padding: 24px 30px 32px 22px;
    box-sizing: border-box;
    background-color: #484848;
    
}
.main {
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
    margin: 0 auto;
    background-color:#003366;
    width: 100%;
    text-align: center;
}
.names {
    color:  #ffffff;
    font-size: 24px;
    font-weight: 700;
    height: 70px;
    width: 277px;
    vertical-align: middle;
}
.choice{
    width: 310px;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 700;
    vertical-align: middle;
}
.big-one {
    font-size: 30px;  
}
.stand {
    background-color: #89c331;
    vertical-align: middle;
}
.ultim {
    background-color: #f04a56;
    vertical-align: middle;
}
.prem {
    background-color: #20807c; 
    vertical-align: middle;
}
.content tr td{
    box-shadow: inset 6px 0 4px -5px rgba(0, 0, 0, 0.2);
}
.header tr td, th{
    box-shadow: inset 6px 0 4px -5px rgba(0, 0, 0, 0.2);
}
.footer tr td, th{
    box-shadow: inset 6px 0 4px -5px rgba(0, 0, 0, 0.2);
}
.main td {
    height: 70px;
    line-height: 70px;
    color:  #ffff;
}
.prices td{
    height: 86px;
    width: 277px;
    font-size: 18px;
}
.dollar {
    color:  #ffff;
    font-size: 60px;
    font-weight: 700;
    line-height: 86px;
}
.dollar span {
    color:  #ffff;
    font-size: 24px;
    font-weight: 700;
    vertical-align:super;
    position: relative;
    top: -4px;
}
.month {
    margin-left: -37px;
}
.content {
    background-color: #005580;
}
.content tr:nth-child(odd){
    background-color: #006670;
}
.font-awesome {
    color:  #fff;
    font-size: 24px;
    margin-right: 12px;
}
.btn {
    border: none;
    border-radius: 5px;
    width: 192px;
    height: 42px;
    padding-top: 3.5px;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    outline: 0;
    
}
.footer tr td {
    height: 110px;
    line-height: 110px;   
}
.footer tr td:first-child {
    background-color: #006670;
}
.contact {
    background-color: #fff;
    color: #000;
}
.contact.btn{
    box-shadow: 0 7px 0 0 #ccffff;
}
.stand.btn{
    box-shadow: 0 7px 0 0 #79b027;
}
.ultim.btn{
    box-shadow: 0 7px 0 0 #df3a46;
}
.prem.btn{
    box-shadow: 0 7px 0 0 #16736f;
}
.btn:hover {
    transition: 0.4s;
    cursor: pointer;
}
.contact.btn:hover {
    box-shadow: 0 -7px 0 0 #ccffff;
}
.stand.btn:hover {
    box-shadow: 0 -7px 0 0 #79b027;
}
.ultim.btn:hover {
    box-shadow: 0 -7px 0 0 #df3a46;
}
.prem.btn:hover{
    box-shadow: 0 -7px 0 0 #16736f;
}